<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="todoListApp">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>List View</title>

    <link rel="stylesheet" th:href="@{/css/vendor/icon.css}"/>
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/vendor/materialize.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
    <nav id="nav-wrapper">
        <div class="row deep-purple lighten-3">
            <div class="center col m6 s6">To Do List</div>
            <div class="center col m6 s6" id="openCardButton">
                <button class="waves-effect waves-light btn indigo lighten-3">New</button>
            </div>
        </div>
    </nav>
    <article id="newItem" ng-controller="addItemListCtr">
        <form class="row">
            <div class="col offset-m3 m6 s12 card">
                <a id="closeCardButton" class="right btn-floating btn-small waves-effect waves-light  red darken-1"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                <div class="input-field col offset-m1 m10 s12">
                    <label for="itemTitle" class="validate">Title:</label>
                    <input type="text" id="itemTitle" ng-model="title" />
                </div>
                <div class="input-field col offset-m1 m10 s12">
                    <label for="itemTitle" class="validate">Content:</label>
                    <textarea type="text" id="itemContent" class="materialize-textarea" ng-model="content"></textarea>
                </div>
                <div class="row">
                    <a id="addButton" class="btn-floating btn-large waves-effect waves-light blue" ng-click="addItem()"><i class="material-icons">add</i></a>
                </div>
            </div>
        </form>
    </article>
    <article id="list" class="row">
        <div id="listContainer" class="card col offset-m1 m10 offset-s0 s12" ng-controller="viewsLoaderCtr">
            <div class="card col offset-m1 m10 s12 listItem" ng-repeat="todoItem in todoItems | orderBy:'-id'">
                <div class="itemControl control1">
                    <input ng-change="updateChecked($index)" ng-model="todoItem.state" type="checkbox" id="title_{{ todoItem.id }}" class="checkbox" checked="checked"/>
                    <label for="title_{{ todoItem.id }}"></label>
                </div>
                <div class="itemControl control2">
                    <button ng-click="seeContent($index)" class="waves-effect waves-light btn indigo lighten-4 itemButton">{{todoItem.title}}</button>
                </div>
            </div>
        </div>
    </article>

    <script th:src="@{/js/vendor/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/vendor/materialize.min.js}"></script>
    <script th:src="@{/js/vendor/angular.min.js}"></script>
    <script th:src="@{/js/home.js}"></script>
    <script th:src="@{/js/app.js}"></script>

</body>
</html>